docs/_build
locale
*.pyc
*.pyo
example/example.sqlite
example/example_test_data.sqlite
.svn/
.ropeproject
polib.py
reversion
tinymce
pip-log.txt
MANIFEST
dist
example/foobar/migrations
example/media/uploads
example/auth.user.xml