include README.md
include LICENSE
include MANIFEST.in
include TODO
include docs/conf.py
include docs/Makefile
include docs/easypublisher.md
include docs/index.md
include docs/settings.md
include docs/commands.md
include docs/middleware.md
include docs/templatetags.md
include docs/changes.md
include docs/debug.md
include docs/fields.md
include docs/details.md
recursive-include docs/i18n *.md *.png
recursive-include docs/tree *.md *.png
recursive-include docs/xslt *.md *.png
recursive-include docs/utils *.md
recursive-include example *.py *.txt *.html *.po *.xml *.xslt *.xsl *.js
recursive-include easymode *.py *.txt *.html *.po *.xml *.xslt *.xsl *.js
