django-reversion==1.2.1
django-rosetta==0.5.3
http://www.djangoproject.com/download/1.2-beta-1/tarball/
lxml>=2.2.2
Sphinx==0.6.4
-e svn+http://django-tinymce.googlecode.com/svn/trunk/#egg=django-tinymce
