{% load easypublisher %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>easymode example application</title>
    </head>
    <body>
        <h1>Welcome to the easymode example application</h1>
        
        <p>
            To start off, load the example data I made for you by:
        </p>
        <pre>
python manage.py loaddata example_data.xml
</pre>
        <p>After loading the example data, 2 users are available to you:
            <ul>
                <li>root (password: root)</li>
                <li>editor (password: editor)</li>
            </ul>
        </p>
        <hr/>
        <p>
            There are 2 active languages
            <ol>
                <li>English <a href="/admin/en/">Go to the admin in english</a></li>
                <li>German <a href="/admin/de/">Go to the admin in german</a></li>
            </ol>
            You will find that the content is different for each language. Look
            at the field 'City' of the 'Foo' application.
        </p>
        <hr/>
        <p>
            The following items have a draft version:
            <ul>
                
                {% draft_list_items %}

            </ul>
        </p>
        <hr/>
        <p>
            Look at what different kinds of output you can get from model trees:
        </p>
        
        <p>
            <a href="raw">See what the xml the serializer produces looks like</a>
        </p>
        
        <p>
            <a href="xslt">See how the default xslt modifies the raw output</a>
        </p>
        
        <p>
            <a href="chain">See how chained querysets get rendered</a>
        </p>        
    </body>
</html>